# Python
__pycache__/
*.py[cod]
.venv/

# Nextflow
.nextflow/
work/
results/
*.html
*.txt
*.dot
*.trace
flowchart*.mmd
flowchart*.png
flowchart*.svg

# Container/cache
.singularity/

# OS/editor
.DS_Store
Thumbs.db
.vscode/
.idea/
.nextflow.log*
