nextflow.enable.dsl = 2

params {
  samplesheet      = 'assets/samplesheet.de.example.csv'
  counts_matrix    = 'assets/counts.example.tsv'
  de_counts_source = 'auto'
  condition_col    = 'condition'
  control_level    = 'control'
  treatment_level  = 'treated'
  fdr_threshold    = 0.05
  fastp_threads    = 2
  fastp_extra      = ''
  reference_fasta  = null
  star_index       = null
  star_index_threads = 4
  star_index_overhang = 99
  star_index_extra = ''
  star_threads     = 4
  star_extra       = ''
  annotation_gtf   = null
  featurecounts_threads = 2
  featurecounts_extra   = ''
  outdir           = 'results'
  container        = "file://${projectDir}/containers/yeast-rnaseq.sif"
}

manifest {
  name            = 'yeast-rnaseq-nf'
  homePage        = 'https://github.com/your-org/yeast-rnaseq-nf'
  description     = 'Minimal Nextflow DSL2 scaffold for a yeast RNA-seq pipeline.'
  mainScript      = 'main.nf'
  nextflowVersion = '!>=24.04.0'
}

includeConfig 'conf/base.config'
includeConfig 'conf/profiles.config'
